/*Import Font below here*/


@import url("https://use.typekit.net/knn6wgf.css");


/* font-family: 'adobe-garamond-pro', serif;
font-family: interface, sans-serif; */



/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* Desktop Styles */

/* Base Root */

html{
    font-size: 1em;
    
}



body{
    font-family:'interface', 'Tahoma', sans-serif; 
    line-height : 1.45em ;
}


/* MAIN CONTAINER */

.container{
    width:100%;
    margin : 2.5em auto ;
}


/* HEADER */

#header-wrapper {
    display : block ;
    width : 100% ;
    height : 150px ;
    background-color : #fff ;
    position : fixed ;
    top : 0 ;
    z-index : 3 ;
}

header {
    width : 80% ;
    margin : 0 auto ;
}

/* LOGO */

#logo {
    background :url(../images/logo.svg) no-repeat ;
    width : 10em ;
    height : 3.5em ;
    background-size : contain ;
    margin : 1.25em auto ;
}
    
#logo h1 span {
    position : absolute ;
    text-indent : -99999px
}


/* NAVIGATION */

nav {
    width : 100% ;
    height : 40px ;
    text-align : center ;
}

nav ul li {
    display : inline ;
    margin : 0 20px ;
    font-size : 1em ;
}

nav ul li a {
    text-decoration : none ;
    font-family: 'interface', 'Tahoma', 'sans-serif';
    font-weight : 400 ;
    color : #C4601D;
 }

nav ul li a:hover{
    border-bottom: solid 4px #C4601D;
    padding-bottom: 5px;

}


/* HERO SECTION */

#hero-wrapper {
    width : 100% ;
    background-color : #C4601D ;
 }

#hero {
    width : 80% ;
    height : 80% ;
    text-align : center ;
    color : #fff ;
    margin : auto ;
    overflow : hidden ;
    padding : 160px 0 100px 0 ;
    
}

#hero h1 {
    margin-top: .8em;
    color : #fff ;
    line-height : 1em ;
    letter-spacing : 2px ;
    padding-bottom: .7em;
}

#hero h1 span{
    font-size: .5em;
    font-family: 'interface', 'Tahoma', 'sans-serif';
    font-weight: 300;
    font-style: italic;  
}

#hero p{
    max-width: 60%;
    margin: auto;
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1.25em;
    margin-bottom: 1.5em;

}


/* DIVIDER */

.divide{
    margin-bottom: 6em;
}

.divide-line{
    width: 30%;
    padding-top:3.5em ;
    margin: auto;
    border-top: 1px solid white;
}

/* CHEVRON DOWN ICON*/

.fa-chevron-down:before {
    content: "\f078";
    font-size: 1.6em;
    color: #fff;
    margin: 0.25em;
}




/* ANIMATION */

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-17 17:28:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  /* GRIDS */
  /* CSS GRID TECHNIQUE */

#grid-wrapper{
    width: 100%;
    background-color: rgb(200, 200, 200);
}

#grids{
    width:80%;
    margin: 0% auto;
    overflow: hidden;
    padding: 5em 0em 6.25em 0em;
}

.h2-styling{
    font-size : 3em ;
    text-transform: uppercase;
    border-width: 3px;
    border-left: 4px solid #C4601D ;
    color:#C4601D;
    padding-bottom: -3em;
    padding-left: .4em;
    padding-top: -3em;
    line-height:1em ;
    margin-top: 1.25em;
    display: inline;
    font-family: 'adobe-garamond-pro','Garamond', serif;
}

#grids p, #colors p, #typography p, #third-level-heading p, #buttons p, #forms p, #product-card p{
   
    font-size: 1.2em;
    margin-top: 2em;
    color: #4d4d4d;
    font-weight: 400;
    margin-bottom:3em;
}

.grid-container{
    display: grid;
    grid-template-columns : auto ;
    grid-gap : 20px ;
    padding : 10px ;
    text-align : center ;
}

.grid-container > div {
    padding : 20px 0 ;
    margin-bottom : 20px ;
    background-color : #dedede;
    color: #C4601D;
    font-size:1.1em ;
    border: 1px solid #C4601D;
}

.item-1 , .item-2 , .item-3 , .item-4 , .item-5 , .item-6 , .item-7 , .item-8 , .item-9 , .item-10 , .item-11 , .item-12 {
font-variant-numeric : diagonal-fractions;
}


/* FULL WIDTH */

.item-1 {
    grid-column-start : 1 ;
    grid-column-end : 13 ;
}

/*1/2 Width*/

.item-2 {
    grid-column-start : 1 ;
    grid-column-end : 7 ;
}

.item-3 {
    grid-column-start : 7 ;
    grid-column-end : 13 ;
}

/*1/3 Width*/

.item-4 {
    grid-column-start : 1 ;
    grid-column-end : 5 ;
}

.item-5 {
    grid-column-start : 5 ;
    grid-column-end : 9 ;
}
    
.item-6 {
    grid-column-start : 9 ;
    grid-column-end : 13 ;
}
    
/*1/4 Width*/
    
.item-7 {
    grid-column-start : 1 ;
    grid-column-end : 4 ;
}

.item-8 {
    grid-column-start : 4 ;
    grid-column-end : 7 ;
}
    
.item-9 {
    grid-column-start : 7 ;
    grid-column-end : 10 ;
}
    
.item-10 {
    grid-column-start : 10 ;
    grid-column-end : 13 ;
}
    
/*3/4 Width*/
    
.item-11 {
    grid-column-start : 1 ;
    grid-column-end : 10 ;
}
    
.item-12 {
    grid-column-start : 10 ;
    grid-column-end : 13 ;
}


/* COLORS */

#colors{
    width:80%;
    margin: 0% auto;
    overflow: hidden;
}


.color-container{
    display: grid;
    grid-template-columns : auto ;
    grid-gap : 20px ;
    padding : 10px ;
    text-align : center ;
}

.color-container > div {
    padding : 20px 0 ;
    margin-bottom : 20px ;
    background-color : #dedede; 
}


.color-tile{
    height: 10.625em;
}

.hex {
    display: block;
    height: 3.125em ;
    margin-top: 11.625em;
    background-color: #fff;
    text-align: center;
    line-height: 3.125em; 
}

#orange {
    grid-column-start : 1 ;
    grid-column-end : 7 ;
    background-color : #C4601D ;
}

#dark-grey {
    grid-column-start : 7 ;
    grid-column-end : 13 ;
    background-color : #4d4d4d ;
}
    
#light-grey {
    grid-column-start : 1 ;
    grid-column-end : 7 ;
    background-color : #827F7F ;
}
    
#white {
    grid-column-start : 7 ;
    grid-column-end : 13 ;
    background-color : #ffffff ;
    border: .5px solid black;
    
}

/* TYPOGRAPHY SECTION */

#typography{
    width:80%;
    margin: 0% auto;
    overflow: hidden;
    padding: 5em 0em 6.25em 0em;
}


.heading {
    margin : 40px 0 ;
 }


#heading-1, #heading-2, #heading-3, #heading-4, #heading-5, #heading-6{
    font-size: 2.7em;
    line-height : 1.5em ;
    font-weight: 300;
    color:#4d4d4d;
    padding-bottom:10px;
}

#heading-2{
    font-size: 2em;

}
 
#heading-3{
    font-size: 1.8em;

}

#heading-4{
    font-size:1.2em
}

#heading-5{
    font-size:0.9em;
}

#heading-6{
    font-size:0.6em;
}


/* THIRD LEVEL HEADING */

#third-level-heading{
    width:80%;
    margin: 0% auto;
    overflow: hidden;
   
}

.h3-styling{
    
    font-size : 2em ;
    border-width: 3px;
    border-left: 4px solid #C4601D ;
    color:#C4601D;
    padding-bottom: -3em;
    padding-left: .4em;
    padding-top: -3em;
    line-height:1em ;
    margin-top: 1.25em;
    display: inline;
    font-family: 'adobe-garamond-pro','Garamond', serif;
}

/*UNORDERED + OREDERD LISTS*/

#ul-ol{
    width:80%;
    margin: 0% auto;
    overflow: hidden;
    
}

ul , ol {
    margin : 20px 0 20px 0 ;
}

ul li {
    list-style : circle ;
    margin-left : 20px ;
    padding-left : 20px ;
}
    
ol li {
    list-style : decimal ;
    margin-left : 20px ;
    padding-left : 20px ;
}

#ul-ol p{
    font-size: .7em;
    margin-top: 2em;
    color: #4d4d4d;
    font-weight: 400;
    margin-bottom:3em;
}

/* FLUID TEXT */

#fluid-text{
    width:80%;
    margin: 0% auto;
    overflow: hidden;
}

article h3 {
    font-size : 2em ;
    line-height : 1.25em ;
    padding : 20px 0 ;

   
}

article{
    -webkit-columns: 4 13.75em;
    -moz-columns: 4 13.75em;
    column-gap: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;

/*COLUMN DRIVERS*/

    column-rule-width : 1px ;
    -webkit-column-rule-width: 1px;
    -moz-column-rule-width: 1px;


    column-rule-style : solid ;
    -webkit-column-rule-style: solid;
    -moz-column-rule-color: solid;

    padding: 20px;

    /*Firefox support*/
    /* margin-top : 120px ;
    columns : 4 220px ; */
}


/* BUTTONS, ICONS */

#buttons{
    width:80%;
    margin: 0% auto;
    overflow: hidden;
    padding : 60px 0 60px 0 ;
    
}

.large-buttons, .small-buttons{
    display: flex;
}


.buttonLarge-1, .buttonLarge-2{
    display : block ;
    width : 510px ;
    height : 60px ;
    font-weight: 700;
    background-color : none;
    border : solid 1px #C4601D ;
    color : #C4601D ;
    text-align : center ;
    line-height : 62px ;
    text-decoration : none ;
    font-size : 1em ;
    cursor : pointer ;
    float :left;
    margin : 11px 20px 0 0 ;

}

.buttonLarge-2{
    
    background-color : #C4601D;
    color : #ffffff ;
}

.buttonLarge-1:hover{
    background-color: #C4601D;
    color: #fff;
    transition: ease-in-out;
}

.buttonLarge-2:hover, .buttonSmall-2:hover{
    background-color: #fff;
    color: #C4601D;
    transition: ease-in-out;
}

.buttonSmall-1, .buttonSmall-2{
    display : block ;
    width : 302px ;
    height : 35px ;
    font-weight: 700;
    background-color : none;
    border : solid 1px #C4601D ;
    color : #C4601D ;
    text-align : center ;
    line-height : 37px ;
    text-decoration : none ;
    font-size : 1em ;
    cursor : pointer ;
    float :left;
    margin : 11px 20px 0 0 ;
}

.buttonSmall-2{
    background-color : #C4601D;
    color : #ffffff ;
}


.buttonSmall-1:hover{
    background-color: #C4601D;
    color: #fff;
    transition: ease-in-out;
}

.buttonSmall-2:hover{
    background-color: #fff;
    color: #C4601D;
    transition: ease-in-out;
}

/* ICONS */

.icons{
    display: block;
    margin-top: 4em;
}

.our-icons{
    margin-top: 1.1em;
}  

.fa-bars{
    content: "\f0c9";
    font-size: 1.8em;
    color:#C4601D;
    margin-right: 0.5em;

}

.fa-magnifying-glass{
    content: "\f002";
    font-size: 1.8em;
    color:#C4601D;
    margin-right: 0.5em;
}

.fa-cart-shopping{
    content: "\f07a";
    font-size: 1.8em;
    color:#C4601D;
    margin-right: 0.5em;
}

.fa-heart{
    content: "\f004";
    font-size: 1.8em;
    color:#C4601D;
    margin-right: 0.5em;
}

.fa-twitter{
    content: "\f099";
    font-size: 1.8em;
    color:#C4601D; 
    margin-right: 0.5em;
}

.fa-instagram{
    content: "\f16d";
    font-size: 1.8em;
    color:#C4601D; 
    margin-right: 0.5em;
}

.fa-facebook-f{
    content: "\f39e";
    font-size: 1.8em;
    color:#C4601D; 
    margin-right: 0.5em;
}

/* FORMS */

#forms{
    width:80%;
    margin: 0% auto;
    overflow: hidden; 
}

.our-forms{
    background-color: #F9F9F9;
    margin-bottom: 50px;

}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 14px 25px;
    font-size: 18px;
    display: inline-block;
    border: 1px solid #707070;
    box-sizing: border-box;
  }

  button{
      background-color: #C4601D;
      color: #fff;
      width: 512px;
      height: 60x;
      text-align: center;
      font-weight: 700;
      line-height: 62px;
      border: none;
      margin: 14px 25px;
      
  }

  /* PRODUCT CARD */

  #product-card{
    width:80%;
    margin: 0% auto;
    overflow: hidden; 
  }

  .product-category{
    display: block;
    width: 520px;
    height: 600px;
    background-color:#ffffff;
    margin-top: 40px;
  }

  .product-image{
    display: block;
    width: 688px;
    height: auto;
  }

.card-heading h5{
    text-align: center;
    color: #C4601D;
    font-size: 1.5em;
    margin-top: 1.2em;
}


#card-description p{
    max-width: 450px;
    margin: auto;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    font-weight: 300;
    text-align: center;
}

.cart-button{
    width: 520px;
    height: 50px;
    font-size: 1.1em;
    background-color: #C4601D;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 3.25em;

}


/* FOOTER */

footer {
    text-align: center;
    background-color: #F2F2F2;
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: block;
    color:#C4601D;

}

  

/* TYPOGRAPHY */

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family : 'adobe-garamond-pro','Garamond', serif;
    font-weight : 700 ;
    color: #C4601D ;
    line-height:1em ;
}

h1 {
    font-size : 4.2em ;
}

h2 {
    font-size : 3.815em ;
}

h3{
    font-size :3.052em ;
}

h4{
    font-size: 2.441em;
}

h5{
    font-size: 1.953em;
}

h6{
    font-size: 1.25em;

}









/*Start responsive below here*/



@media screen and (max-width: 600px)
{
    nav ul li {
        display: inline;
        margin: 0;
    }
    /*Queries go here*/
    #hero h1 {
        margin-top: 0.6em;
        line-height: 1.1em;
    }
    h1 {
        font-size: 3.8em;
    }
    #hero p {
        max-width: 80%;
        margin: auto;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.2em;
        margin-bottom: 1.5em;
    }
    
    .h2-styling {
        font-size: 2.75em;
    }

    button{
        width: 370px;
        text-align: center;
    }

    .product-image {
        display: block;
        width: 480px;
        height: auto;
    }
    
    .cart-button {
        width: 430px;
        line-height: 48.75px;
    }

    .card-heading
    {
        max-width: 80%;
        text-align: center;
    }

    #card-description p {
        max-width: 425px;
        margin: 1em ;
        font-size: 1.15em;
        
        text-align: left;
    }
}

@media screen and (max-width: 480px)
{
    nav ul li {
        display: inline;
        padding: 0 15px;
    }
    /*Queries go here*/
    #hero h1 {
        margin-top: 0.6em;
        line-height: 1.1em;
    }
    h1 {
        font-size: 3.8em;
    }
    #hero p {
        max-width: 80%;
        margin: auto;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.2em;
        margin-bottom: 1.5em;
    }
    
    .h2-styling {
        font-size: 2.75em;
    }

    button{
        width: 370px;
        text-align: center;
    }

    .product-image {
        display: block;
        width: 480px;
        height: auto;
    }
    
    .cart-button {
        width: 380px;
        line-height: 48.75px;
    }

    .card-heading
    {
        max-width: 75%;
        text-align: center;
    }

    #card-description p {
        max-width: 380px;
        margin: 1em ;
        font-size: 1.15em;
        text-align: left;
    }
}
    
   